<div class="wrapper" fxLayout="column"  *ngIf="competition_matches && match">
    <header>
        <h2>{{ competition_matches.competition.name }} / {{ competition_matches.competition.area.name }}</h2>
        <h1>{{ match.match.awayTeam.name }} - {{ match.match.homeTeam.name }}</h1>
        <div class="breadcrumb" fxLayout="column" fxLayout.gt-sm="row">
            <div class="arrow" fxLayout="row">
                <div class="tag link" [routerLink]="['/']">Football</div>
                <div class="end link" [routerLink]="['/']">
                    <div></div>
                </div>
            </div>
            <div class="arrow" fxLayout="row">
                <div class="tag link" [routerLink]="['/' + competition_matches.competition.slug]">{{ competition_matches.competition.name }}</div>
                <div class="end link" [routerLink]="['/' + competition_matches.competition.slug]">
                    <div></div>
                </div>
            </div>
            <div class="arrow" fxLayout="row">
                <div class="tag">{{ match.match.awayTeam.name }} - {{ match.match.homeTeam.name }}</div>
                <div class="end">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <table  *ngIf="match" fxFlex="100%" fxFlex.gt-xs="75%"  fxFlex.gt-sm="60%">
            <tr class="header-row">
                <th colspan="2">
                    Match details
                </th>
            </tr>
            <tr>
                <td>
                    {{ match.match.awayTeam.name }}
                </td>
                <td>
                    {{ match.match.homeTeam.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <span *ngIf="match.match.score.fullTime.awayTeam != null; else noScore" class="score">
                        {{ match.match.score.fullTime.awayTeam }}
                    </span>
                </td>
                <td>
                    <span *ngIf="match.match.score.fullTime.homeTeam != null; else noScore" class="score">
                        {{ match.match.score.fullTime.homeTeam }}
                    </span>
                    <ng-template #noScore>-</ng-template>
                </td>
            </tr>
            <ng-container *ngIf="match.match.status == 'LIVE' || match.match.status == 'IN_PLAY' || match.match.status == 'PAUSED'; else notLive">
                <tr>
                    <td colspan="2">
                        <div class="live">LIVE</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="match-clock">
                        <span *ngIf="match.match.status == 'PAUSED'; else whichHalf">
                            HALFTIME
                        </span>
                        <ng-template #whichHalf>
                            <ng-container *ngIf="match.match.minute != null; else noMatchClock">
                                <span>{{ match.match.minute }} MIN, </span>
                                <span *ngIf="match.match.minute <= 45">1ST HALF</span>
                                <span *ngIf="match.match.minute > 45">2ND HALF</span>
                            </ng-container>
                            <ng-template #noMatchClock>
                              <span class="error">NO MATCH CLOCK AVAILABLE</span>
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
            </ng-container>
            <ng-template #notLive>
                <tr>
                    <td colspan="2">{{ match.match.status }}</td>
                </tr>
            </ng-template>
            <tr>
                <td colspan="2">
                    <div fxLayout="row" fxLayoutAlign="center">
                        <div fxLayout="column" fxLayoutAlign="center" class="clock">
                            <mat-icon>schedule</mat-icon>
                        </div>
                        <div>
                            {{ match.match.utcDate | date: 'dd/MM/yyyy' }} <br/> {{ match.match.utcDate | date: 'H:mm' }}
                        </div>                            
                    </div>
                </td>
            </tr>
        </table>
    </main>
</div>
<div class="wrapper" fxLayout="column"  *ngIf="notfound">
    <app-page-not-found></app-page-not-found>
</div>