<div class="wrapper" fxLayout="column">
    <header>
        <h2>Football</h2>
        <h1>Competitions</h1>
        <div class="breadcrumb" fxLayout="row">
            <div class="tag">Football</div>
            <div class="end">
                <div></div>
            </div>
        </div>
    </header>
    <main *ngIf="dataSource.data.length">
        <table mat-table [dataSource]="dataSource" fxFlex="100%" fxFlex.gt-xs="75%"  fxFlex.gt-sm="60%">
       
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Available competitions</th>
                <td mat-cell *matCellDef="let competition"  [routerLink]="'/' + [competition.slug]">
                    {{ competition.name }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="area">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let competition" class="area" [routerLink]="'/' + [competition.slug]">
                    {{ competition.area.name }}     
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </main>
</div>
