<div class="wrapper" *ngIf="competition" fxLayout="column">
    <header>
        <h2>{{ competition.area.name }}</h2>
        <h1>{{ competition.name }}</h1>
        <div class="breadcrumb"  fxLayout="column" fxLayout.gt-sm="row">
            <div class="arrow" fxLayout="row">
                <div class="tag link" [routerLink]="['/']">Football</div>
                <div class="end link" [routerLink]="['/']">
                    <div></div>
                </div>
            </div>
            <div class="arrow" fxLayout="row">
                <div class="tag">{{competition.name}}</div>
                <div class="end">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <table *ngIf="dataSource.data.length" mat-table [dataSource]="dataSource"  fxFlex="100%" fxFlex.gt-xs="75%"  fxFlex.gt-sm="60%">
                
            <ng-container matColumnDef="teams">
                <th mat-header-cell *matHeaderCellDef>
                    Live & upcoming matches
                </th>
                <td mat-cell *matCellDef="let match" class="teams" [routerLink]="['/' + competition.slug, match.slug]">
                    {{ match.awayTeam.name }} <br> {{ match.homeTeam.name }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="event_time">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let match" class="time" [routerLink]="['/' + competition.slug, match.slug]">
                    <ng-container *ngIf="match.status == 'SCHEDULED'; else liveMatch">
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <mat-icon>schedule</mat-icon>
                            </div>
                            <div>
                                {{ match.utcDate | date: 'dd/MM/yyyy' }} <br/> {{ match.utcDate | date: 'H:mm' }}
                            </div>                            
                        </div>
                    </ng-container>
                    <ng-template #liveMatch>
                        <div class="live">LIVE</div>
                    </ng-template>      
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <p *ngIf="empty">No matches found in this competition.</p>        
    </main>
</div>
<div class="wrapper" fxLayout="column"  *ngIf="notfound">
    <app-page-not-found></app-page-not-found>
</div>
